@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: white;
    font-family: 'Poppins', sans-serif;
}

.content .home-content{
    display: flex;
    padding: 30px;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background: url(wp2714503.jpg);
    background-position: center;
    background-size: cover;
}

.home-content h1 {
    color: antiquewhite;
    font-size: 80px;
}

.home-content p {
    color: antiquewhite;
    font-size: 30px;
    margin-bottom: 40px;
}

.home-content .button {
    padding: 20px;
    font-size: 20px;
    background: rgb(166, 37, 37);
    color: white;
    border-radius: 50px;
}

.home-content .button:hover {
    background-color: rgb(210, 13, 13);
}

  #search {
    display: flex;
    align-items: center;
    padding: 20px 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px;
  }
  
  #btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
  }
  
  #btn:hover {
    background-color: #45a049;
  }
  

#movie-container {
    display: flex;
    margin: 10px 20px;
    padding: 10px 20px;
    flex-wrap: wrap;
    gap: 20px;
}