.movieLists {
  padding-top: 10px;
}
.movie {
  padding: 10px;
  background-color: gray;
  color: white;
  margin-top: 10px;
}
.deleteBtn {
  padding: 5px;
  background-color: red;
  color: white;
}
.updateBtn {
  padding: 5px;
  background-color: green;
  color: white;
}
